.Main{
    margin: 0;
    height:100%;
}
.page{
    background-color: rgb(11, 11, 155);
    display: flex;
}
.page p{
    margin-top: 1.7rem;

}
.right{
    margin-left: 55rem;
    font-size: 1.5rem;   
}
.d-flex{    
    justify-content: space-around;
}
.image{
    background-image: url(./Images/background.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}
.rating{
    display: flex;
}
.nav{
    justify-content: center;
    margin-left: 2rem;
    margin-bottom: 5rem;
    padding-top: 2rem;
}
.nav input{
    text-align: center;
    padding-left: 2rem;
    padding-right: 3rem;
}
.nav input:focus{
    outline: none;
}
.nav button{
    background-color: rgb(3, 3, 88);
    color: white;
    margin-left: 2rem;
    padding: .5rem;
    padding-left: 2rem;
    padding-right: 2rem;
}
.cards{
    margin-bottom: 5rem;
}